# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build
examples/*/build

# Model export folder
model/

# VS Code files
*.json
.vscode/

# Libtensorflow
libtensorflow

# ipynb checkpoint folder
.ipynb_checkpoints/
